@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* root */
:root {
  --card: white;
  --shadow: hsl(225, 54%, 88%);
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --color-1: #766cf1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  height: 100vh;
  background-color: var(--pale-blue);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Layout */
.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 350px;
  align-items: center;
  background-color: var(--card);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 5px 10px var(--shadow);
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.main {
  text-align: center;
  padding: 20px 10px;
}

.main h2 {
  color: var(--dark-blue);
}

.card-description {
  margin: 10px 15px;
  color: var(--desaturated-blue);
}

.annual-plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px 40px 10px;
  background-color: var(--very-pale-blue);
  border-radius: 10px;
  padding: 10px 20px;
}

.annual-plan-left {
  display: flex;
}

.annual-plan-right a {
  color: var(--bright-blue);
}

.annual-plan-right a:hover {
  color: var(--color-1);
  text-decoration: none;
}

.plan-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.payment a {
  background-color: var(--bright-blue);
  color: var(--pale-blue);
  font-weight: 700;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  padding: 15px 80px;
  text-decoration: none;
  box-shadow: 0px 5px 10px var(--shadow);
}

.payment a:hover {
  background-color: var(--color-1);
}

.cancel {
  margin: 40px 0 25px 0;
}

.cancel a {
  color: var(--desaturated-blue);
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
}

.cancel a:hover {
  color: var(--dark-blue);
}

/* media */
@media (max-width: 475px) {
  .card-description {
    margin: 20px 30px;
  }
}
